@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is my First app and I'm doning the POC for Azue web app. This code is for testing the staging Slot.'</p>
    <h3>
        @ViewData["Greeting"]
    </h3>
</div>
